@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }
  
  nb-icon{
    color:white;
  }

  .heading{
    font-size: 20px;
    font-weight: bold;
    color:white;
  }

  ::ng-deep nb-user.shape-round .user-picture {
    color: white;
  }

  ::ng-deep nb-user.size-medium .user-name {
    color:white !important;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
    color: white;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}


 .menu-items :hover

{

  color: black;

  border-radius : 10px;

  cursor: pointer;

}

.mat-card-content
{
  background-color: orange !important;
}

.menu-list
{
  cursor: pointer;
  font-weight: bold;

  font-size: 18px;

  font-family: Arial, Helvetica, sans-serif;

  color: white;

}
.active
{
  color: black;
} 

.menu-item
{
  cursor: pointer;

  

}

.user-logo
{
  border-radius: 50%;
  border: 1px solid black;
  font-weight: bold;
  width: 40px;
  height:40px;
}

.user-title
{
  font-weight: bold;
}

::ng-deep .mat-mdc-menu-content
{
  width: 250px !important;
}

::ng-deep .userActivationDialog
{
    background: rgba(128, 128, 128, 0.61) !important;
}